.w500px{
	width: 500px !important;
}

.backcolor{
	background-color: #1a0933;
}

.topcolor{
	background-color: #7c328b;
}

.midtopcolor{
	background-color: #642875;
}

.shadowtopcolor{
	background-color: #30115e;
}

.inputmessagecolor{
	background-color: #30115e;
}

.hidethis{
	display: none;
}

.centerthis{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.prewrap{
	white-space: pre-wrap;
}

.logo{
	display: block;
	margin-left: auto; 
	margin-right: auto;
}

.confirmpopup{
	 background-color: #5665BC !important; 
	 color: white !important;
}

.btnLink{
    text-decoration: none;
    color: white;
}

.btnw100{
	border: none;
    outline: none;
	width:100px;
}

.btnblank{
	border: none;
    outline: none;
}

.btnw100:hover{
    background: #999999 !important;
}

.btnw100:active{
    background: #CCCCCC !important;
}

.form-login{
    font-family: arial !important;
    width: 400px;
    height: 460px;
    background: #7c328b;
    margin: auto;
    margin-top: 125px;
    margin-bottom: 200px;
    box-shadow: 5px 5px 30px #000;
    padding: 20px 30px;
    color: white;
    border-radius: 15px;
}

.form-login h3{
    font-family: arial !important;
    margin: 0;
    text-align: center;
    height: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 0px;
    font-size: 25px;
}

.form-signin{
    font-family: arial !important;
    width: 450px;
    height: 975px;
    background: #7c328b;
    margin: auto;
    margin-top: 125px;
    margin-bottom: 300px;
    box-shadow: 5px 5px 30px #000;
    padding: 20px 30px;
    color: white;
    border-radius: 15px;
}

.form-signin h3{
    font-family: arial !important;
    margin: 0;
    text-align: center;
    height: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 0px;
    font-size: 25px;
}

.form-upload{
    font-family: arial !important;
    width: 450px;
    height: 740px;
    background: #7c328b;
    margin: auto auto;
    margin-top: 125px;
    margin-bottom: 300px;
    box-shadow: 5px 5px 30px #000;
    padding: 20px 30px;
    color: white;
    border-radius: 15px;
}

.form-upload h3{
    font-family: arial !important;
    margin: 0;
    text-align: center;
    height: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 0px;
    font-size: 25px;
}

.btnlog{
    font-family: arial !important;
    width: 100%;
    height: 40px;
    background: #4B1E5F;
    border: none;
    color: white;
    margin-bottom: 20px;
    font-size: 16px;
     border-radius: 10px;
}

.btnlog:hover{
    background: #785787 !important;
}

.btnlog:active{
    background: #A58FAF !important;
}

.fs-7{
	font-size: 12px;
}

.newscard{
	width: 400px;
	height: 700px;
	overflow: hidden;
}

.newsbtn{
	width: 300px;
	border: none;
}

@keyframes togray {
  from {filter: grayscale(100%);}
  to {filter: grayscale(0%);}
}

@keyframes fromgray {
  from {filter: grayscale(0%);}
  to {filter: grayscale(100%);}
}

.graythis:hover{
	animation: togray 0.5s forwards;
}

.graythis:not(:hover){
	animation: fromgray 0.5s forwards;
}

.newstext {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btnnews{
	border: none;
	color: white;
 	background-color: #30115e;
}

.btnnews:hover{
 	background-color: #4A2F73;
}

.newscontainer {
  position: relative;
}

.text-block {
	position: absolute;
	color: white;
	font-size: 20px;
	text-shadow: 1px 1px 10px #7c328b, -1px -1px 10px #7c328b, 1px 1px 30px #7c328b, -1px -1px 30px #7c328b;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.navtext:hover{
	color: #1a0933 !important;
}

.hiddenlink{
	text-decoration: none;
}