@media only screen and (max-width: 1000px){

.notification{
  top: 50% !important;
  left: 50% !important;
  height: 500px !important;
  width: 1000px !important;
  margin-top: -250px !important;
  margin-left: -500px !important;
}
.notification-error{
  top: 33% !important;
  left: 50% !important;
  height: 500px !important;
  width: 1000px !important;
  margin-top: -250px !important;
  margin-left: -500px !important;
}
}

.notification{
  top: 50% !important;
  left: 50% !important;
  height: 500px !important;
  width: 1000px !important;
  margin-top: -100px;
  margin-left: -200px;
}

.notification-error{
  top: 33% !important;
  left: 50% !important;
  height: 500px !important;
  width: 1000px !important;
  margin-top: -100px;
  margin-left: -200px;
}

.selectClassed {
    margin-top: 32px;
    background-color: #30115e;
    color: #fff;
    border: none;
    padding: 0 1em 0 0;
    height: 38px;
    padding-left: 5px;
	width: 83.85% !important;
}

.linklog{
    text-align: center;
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.navbar-text{
    color: white !important;
    margin-right: 10px; 
    margin-top: 3px;
}

.image{
    margin-left: 50px !important;
    margin-right: 50px !important;
}

.description{
    margin-top: 50px !important;
    margin-bottom: 100px !important;
}

.imgCarousel{
    width: 569px !important;
    height: 360px !important;
    overflow: hidden;
}

.imgProduct{
    width: 720px !important;
    height: 400px !important;
}

.arial{
    font-family: arial !important;
}



.form-pass{
    font-family: arial !important;
    width: 400px;
    height: 440px;
    background: #22284c;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    box-shadow: 5px 5px 30px #000;
    padding: 20px 30px;
    color: white;
    border-radius: 15px;
}

.form-pass h3{
    font-family: arial !important;
    margin: 0;
    text-align: center;
    height: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 0px;
    font-size: 25px;
}





.form-edit{
    font-family: arial !important;
    width: 400px;
    height: 830px;
    background: #22284c;
    margin: auto auto;
    margin-top: 100px;
    margin-bottom: 100px;
    box-shadow: 5px 5px 30px #000;
    padding: 20px 30px;
    color: white;
    border-radius: 15px;
}

.form-edit h3{
    font-family: arial !important;
    margin: 0;
    text-align: center;
    height: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 0px;
    font-size: 25px;
}



.ctlslog{
    font-family: arial !important;
    width: 100%;
    border: 1px solid #000;
    margin-bottom: 20px;
    padding: 10px 10px;
    background: #fff;
    font-size: 16px;
    border-radius: 10px;
    color: grey;
}

.btnup{
    font-family: arial !important;
    width: 100%;
    height: 40px;
    background: #222222;
    border: none;
    color: white;
    margin-bottom: 20px;
    font-size: 16px;
     border-radius: 10px;
}

.btnup:hover{
    background: #666666 !important;
}

.btnup:active{
    background: #999999 !important;
}

.btnVer2:hover{
    background: #999999 !important;
}

.btnVer2:active{
    background: #CCCCCC !important;
}